body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
}

.grid-container {
  display: flex;
  max-width: 960px;
}

.row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 0.5px;
}

.column {
  height: 100%;
  background-color: red;
  width: 0.5px;
  height: 0.5px;
  padding: 8px;
  margin: 8px;
}z